{% extends "base.html" %}
{% block content %}
    <div class="wrapper">
        <div class="container">
        {% csrf_token %}
          <div class="panel-group" id="accordion">
            {% for question in questions %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                      {{question.title}}
                    </a>
                    <span class="score" style="float: right;">Score: {{question.score}}</span>
                  </h4>
                </div>
                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    {{question.content}}
                    <div class="row">
                      <div class="col-md-4">
                          <input type="text" class="form-control" id="ans-{{question.id}}" placeholder="Answer" style="color: black;">
                          <button class="btn btn-info btn-raised submit" id="{{question.id}}">Submit</button> 
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            {% empty %}
            <p>No questions for this round!!</p>
            {% endfor %}
          </div>
          <h5>During a contest contestants can ask questions to the contest jury via email <a href="mailto:quriosity@shilpiitbhu.org">quriosity@shilpiitbhu.org</a> . The questions may concern mistakes, ambiguous spots and inaccuracies in the statement.</h5>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="/static/js/notify.min.js"></script>
<script>
  function getCSRF(){
      return document.getElementsByName('csrfmiddlewaretoken')[0].value;
  }

  setTimeout(function(){ location.reload(); }, ({{diff}}+2)*1000);

  $(document).ready(function(){
    {% for res in responses %}
    $('#ans-{{res.question.id}}').val({{res.response}});
    {% endfor %}
  });

  $(".submit").click(function(){
    data = {
      csrfmiddlewaretoken: getCSRF(),
      qid: this.id,
      ans: $("#ans-"+this.id).val()
    }
    var i = this.id;
    $('#'+i).toggle();
    $.ajax({
      url: '/quriosity/question/'+this.id+'/',
      type: 'POST',
      data: data,
      dataType: 'json',
      success: function(data){
        $('#'+i).toggle();
        if (data.error){
          $.notify(data.msg, "error");
        } else {
          $.notify(data.msg, "info");
        }
      }
    });
  });
</script>
{% endblock %}