<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="he Campus Ambassadorship Program by SHILP'16 is a nationwide programme which explores, innovates, shapes and exposes the students nationwide from various colleges as efficient managers and creative leaders. Members not only acquire leadership/ entrepreneurial qualities but also gain a social streak with a good character.">
    <meta name="author" content="Yogesh Naik , kushagra Agrawal , Shirali Prajapati">
    <title>Campus Ambassdor|Shilp 16</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="/static/Campus/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/Campus/css/clean-blog.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81704700-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SHILP 16</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/Campus/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>CAMPUS AMBASSADOR</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h2 class="post-title">
                        
                        </h2>
                    <p class="post-subtitle">
                        The Campus Ambassadorship Program by SHILP'16 is a nationwide programme which explores, innovates, shapes and exposes the students nationwide from various colleges as efficient managers and creative leaders. Members not only acquire leadership/ entrepreneurial qualities but also gain a social streak with a good character. We call upon our ambassadors to educate their constituents about the powerful role of socio-initiatives.
                    </p>
                </div>
                <hr>
                <div class="post-preview">
                    <h2 class="post-title">
                            WHO SHOULD
                        </h2>
                    <p class="post-subtitle">“Don’t be surprised. Do be prepared”. SHILP AMBASSADORSHIPS are for young, proliferating and jubilant individuals who have effective mass communication skills and are influential. What we look in a Campus Ambassador is innovation, leadership, enthusiasm and creativity. We look for students who are leaders in their campus, leaders who can inspire their peers, collaborate with administrators and organize campus events to leave impact. It’s a chance to develop and grow as an individual while adding an incredible line to your resume. This is for those who are having keen interest in updating people about various shilp'16 events through public meets, announcements, notices, social-media, webpages, etc.
                    </p>
                </div>
                <hr>
                <div class="post-preview">
                    <h2 class="post-title">
                            BENEFICIARIES TO CAMPUS AMBASSADORS

                        </h2>
                    <p class="post-subtitle">
                        <li>  Reimbursement of Travel Expense (Sleeper Class), if the campus ambassador is able to get more than 10 participants from his college.</li>
                        <li>
                            Free registration to the events of Shilp’16.</li>
                        
                        <li>
                            Shilp will provide goodies to the campus ambassadors.</li>
                        <li>
                               Guest Lectures Passes : Free registration to attend the guest lectures of esteemed and renowned people in the field of Civil engineering.</li>
                        <li>
                             Certification: The contribution of the Campus Ambassador will be rewarded by providing them Certificates for their help in promoting the festival.</li>
                    </p>
                    <p class="post-meta"></p>
                </div>
                <hr>
                <div class="post-preview">
                    <h2 class="post-title">
                            PREREQUISITES
                        </h2>
                    <p class="post-subtitle">
                             <li>All applicants must be college/university students irrespective of their fields.</li><li>
Should be thorough with their official procedures and
Must be able to provide strong motivation.</li><li>
Must be able to arrange, conduct meetings and should be able to handle the crowd.</li><li>
Capable of appreciably representing the views and policies of an ambassador during campaigns.</li>
                    </p>
                    <p class="post-meta" </p>
                </div>
                <hr>

                
                <div class="post-preview">
                    <h2 class="post-title">
                            A CAMPUS AMBASSADOR IS REQUIRED TO DO FOLLOWINGS THINGS

                        </h2>
                    <p class="post-subtitle">
                        <li>   Should be engaged in increasing the number of participation from his/her college.</li>
                        <li>
                               Is to take up the responsibility of promoting Shilp by forwarding posters and all the information about events etc. via mass mails in his/her college. </li>
                        
                        <li>
                              Shall help us in the online publicity of the festival thereby promoting Shilp in his/her college.</li>


                    </p>
                    <p class="post-meta"></p>
                </div>
                <hr>
                <!-- Pager -->
            </div>
        </div>
    </div>
    <!--campus ambassador starts here-->
    <div class="blurBg-true" style="background-color:#5a001c;">
        <!-- Start Formoid form-->

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form action="/casubmit/" method="post"> {% csrf_token %}
                        <div class="title">
                            <h2 style="color:#fff;margin-bottom: 20px;">Campus Ambassador Form</h2></div>
                        <div class="element-name form-group">
                            <label class="title" style="color:#fff">Name</label><input placeholder="Name" type="text" size="18" name="name" class="form-control" />
                        </div>
                        <div class="element-email" form-group>
                            <label class="title" style="color:#fff">Email Address</label>
                            <div class="item-cont">
                                <input class=" form-control" type="email" name="email" value="" placeholder="Email" /><span class="icon-place"></span></div>
                        </div>
                        <div class="element-phone form-group">
                            <label class="title" style="color:#fff">Phone Number</label>
                            <div class="item-cont">
                                <input class=" form-control" type="tel"  name="phone" placeholder="Phone" value="" /></div>
                        </div>
                        <div class="element-input form-group">
                            <label class="title" style="color:#fff">College/University</label>
                            <div class="item-cont">
                                <input class=" form-control" type="text" name="college" placeholder="College/University" /></div>
                        </div>
                        <div class="element-radio form-group">
                            <label class="title" style="color:#fff">Year</label>
                            <div class="radio">
                                <label>
                                    <input type="radio"  name="radio" value="First Year" /><span style="color:#fff">First Year</span></label>
                                <label>
                                    <input type="radio"  name="radio" value="Second Year" /><span style="color:#fff">Second Year</span></label>
                                <label>
                                    <input type="radio"  name="radio" value="Third Year" /><span style="color:#fff">Third Year</span></label>
                                <label>
                                    <input type="radio"  name="radio" value="Fourth Year" /><span style="color:#fff">Fourth Year</span></label>
                            </div>
                        </div>
                        <div class="element-textarea form-group">
                            <label class="title" style="color:#fff">How will you promote the fest</label>
                            <div class="item-cont">
                                <textarea class="form-control" name="promotion" cols="20" rows="5" placeholder="How will you promote the fest"></textarea></div>
                        </div>
                        <div class="element-file form-group">
                            <label class="title" style="color:#fff">Position of Responsibility</label>
                            <input class="form-control" type="text" name="resume" placeholder="Position of responsibility" />
                        </div>
                        <div class="submit" style="margin-bottom:20px; ">
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
            <!-- Stop Formoid form-->
        </div>
        </div>
        <!--campus ambassador ends-->
        <hr>
        <!-- Footer -->
        <!--<footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">

                            <li>
                                <a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" class="social-btn" target="_blank">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                             <li>
                                <a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top"  class="social-btn">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>

                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Shilp 16</p>
                    </div>
                </div>
            </div>
        </footer>-->
           <div  id="sitemap" style="padding : 20px 10px 30px 20px; background-color: #303135; margin-right:0px;">
<div class="row">
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8c9398;">Shilp 16</p><br><a href="ca" >Campus Ambassador</a><br><a href="/#competitions" >Competitions</a><br></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Events</p><br><a href="ppt" >Paper Presentation</a><br><a href="idp" >Industry Defined Problem</a><br><a href="conclave" >River Rejuvination Conclave</a></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Contact Us</p><br>
    <p style="color:#BFBFBF;"><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top" ><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
    
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" target="_blank" ><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        
</div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Find Us </p><br>
    
        <p style="color:#BFBFBF;><i class=" fa-map-marker"></i>  Department of Civil Engineering</p>
        <p style="color:#BFBFBF;">  Indian Institute of Technology (BHU)</p>
        <p style="color:#BFBFBF;">Varanasi (U.P.), India </p>
        
</div>

</div>
</div>

        <!-- jQuery -->
        <script src="/static/Campus/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/Campus/js/bootstrap.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/static/Campus/js/clean-blog.min.js"></script>
</body>

</html>
