<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="he Campus Ambassadorship Program by SHILP'16 is a nationwide programme which explores, innovates, shapes and exposes the students nationwide from various colleges as efficient managers and creative leaders. Members not only acquire leadership/ entrepreneurial qualities but also gain a social streak with a good character.">
    <meta name="author" content="Yogesh Naik , kushagra Agrawal , Shirali Prajapati">

    <title>Campus Ambassdor|Shilp 16</title>
    <link rel="shortcut icon" href="/static/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link href="/static/Campus/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/Campus/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SHILP 16</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/Campus/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>CAMPUS AMBASSADOR</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                  
                        <h2 class="post-title">
                        
                        </h2>
                        <h3 class="post-subtitle">
                            The Campus Ambassadorship Program by SHILP'16 is a nationwide programme which explores, innovates, shapes and exposes the students nationwide from various colleges as efficient managers and creative leaders. Members not only acquire leadership/ entrepreneurial qualities but also gain a social streak with a good character. We call upon our ambassadors to educate their constituents about the powerful role of socio-initiatives.
                        </h3>
                    
                </div>
                <hr>
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            Who Should
                        </h2>
                        <h3 class="post-subtitle">“Don’t be surprised. Do be prepared”. SHILP AMBASSADORSHIPS are for young, proliferating and jubilant individuals who have effective mass communication skills and are influential. What we look in a Campus Ambassador is innovation, leadership, enthusiasm and creativity. We look for students who are leaders in their campus, leaders who can inspire their peers, collaborate with administrators and organize campus events to leave impact. It’s a chance to develop and grow as an individual while adding an incredible line to your resume. This is for those who are having keen interest in updating people about various Technozion’14 events through public meets, announcements, notices, social-media, webpages, etc.
                        </h3>
                    
                    
                </div>
                <hr>
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            BENEFICIARIES TO CAMPUS AMBASSADORS

                        </h2>
                        <h3 class="post-subtitle">
                            <li>The Campus Ambassadors would be acknowledged by providing CERTIFICATES with ISO certification  from SHILP IIT(BHU) VARANASI to them for successfully associating with the fest.</li><li>
Special benefits and discounts in various coupons and entry cards to cultural and technical concerts and shows.
Special/Wild card entry spaces for various general events.</li><li>
Special badges for Ambassadors will be provided by the SHILP'16 team during their stay at NIT Warangal (if howsoever the ambassador comes to the college).
T-shirts promoting them as part of our team will be provided to our student ambassadors during Technozion '14.</li><li>
Ambassadors gain valuable insights and experience throughout the SHILP'16.</li><li>
Visibility of their engagement during SHILP'16 would be appreciated by letting Ambassadors have special exposure.</li><li>
This programme would enhance many personal aspects of individual in terms of community services.</li>
                        </h3>
                    
                    <p class="post-meta"></p>
                </div>
                <hr>
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            PREREQUISITES
                        </h2>
                        <h3 class="post-subtitle">
                            <li>All applicants must be college/university students irrespective of their fields.</li><li>
Must be from age group (17-25) but should not be from final year of their course.</li><li>
Must be holding some position in their college preferably (e.g.: Association/Student body member, club president, class representative, member of student welfare committee).</li><li>
Should be thorough with their official procedures.</li><li>
Must be able to provide strong motivation.</li><li>
Must be able to arrange, conduct meetings and should be able to handle the crowd.</li><li>
Capable of appreciably representing the views and policies of an ambassador during campaigns.</li><li>
Must be consistent to work efficiently during his/her tenure.</li><li>
No gender bar.</li><li>
Good at English (preferably) or good at regional language (if local).</li><li>
A maximum of 2 ambassadors are allowed from each college.</li>
                        </h3>
                    
                    <p class="post-meta"</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
                   <!--campus ambassador starts here-->

                   
   <div class="blurBg-true" style="background-color:#00557f">



<!-- Start Formoid form-->
<link rel="stylesheet" href="/static/Campus/formoid_files/formoid1/formoid-solid-dark.css" type="text/css" />
<script type="text/javascript" src="/static/Campus/formoid_files/formoid1/jquery.min.js"></script>
<form enctype="multipart/form-data" class="formoid-solid-dark" style="background-color:#1A2223;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:480px;min-width:150px" method="post"><div class="title"><h2>Campus Ambassador Form</h2></div>
    <div class="element-name"><label class="title"></label><span class="nameFirst"><input placeholder="Name First" type="text" size="8" name="name[first]" /><span class="icon-place"></span></span><span class="nameLast"><input placeholder="Name Last" type="text" size="14" name="name[last]" /><span class="icon-place"></span></span></div>
    <div class="element-email"><label class="title"></label><div class="item-cont"><input class="large" type="email" name="email" value="" placeholder="Email"/><span class="icon-place"></span></div></div>
    <div class="element-phone"><label class="title"></label><div class="item-cont"><input class="large" type="tel" pattern="[+]?[\.\s\-\(\)\*\#0-9]{3,}" maxlength="24" name="phone" placeholder="Phone" value=""/><span class="icon-place"></span></div></div>
    <div class="element-input"><label class="title"></label><div class="item-cont"><input class="large" type="text" name="input" placeholder="College/University"/><span class="icon-place"></span></div></div>
    <div class="element-radio"><label class="title">Year</label>        <div class="column column1"><label><input type="radio" name="radio" value="First Year" /><span>First Year</span></label><label><input type="radio" name="radio" value="Second Year" /><span>Second Year</span></label><label><input type="radio" name="radio" value="Third Year" /><span>Third Year</span></label><label><input type="radio" name="radio" value="Fourth Year" /><span>Fourth Year</span></label></div><span class="clearfix"></span>
</div>
    <div class="element-textarea"><label class="title"></label><div class="item-cont"><textarea class="medium" name="textarea" cols="20" rows="5" placeholder="How will you promote our fest"></textarea><span class="icon-place"></span></div></div>
    <div class="element-file"><label class="title"></label><div class="item-cont"><label class="large" ><div class="button">Choose File</div><input type="file" class="file_input" name="file" /><div class="file_text">Resume</div><span class="icon-place"></span></label></div></div>
<div class="submit"><input type="submit" value="Submit"/></div></form><p class="frmd"><a href="http://formoid.com/v29.php">html form</a> Formoid.com 2.9</p><script type="text/javascript" src="/static/Campus/formoid_files/formoid1/formoid-solid-dark.js"></script>
<!-- Stop Formoid form-->



</div>
        <!--campus ambassador ends--> 


    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Shilp 16</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/Campus/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/Campus/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/Campus/js/clean-blog.min.js"></script>

</body>

</html>
