<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="River Rejuvenation conclave is a meet which will be presided by a expert panel of 6 members,discussing innovative ideas and solutions by students.">
    <meta name="author" content="Yogesh Naik , kushagra Agrawal , Shirali Prajapati">
    <title>Convergence | Shilp 2016</title>
                <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/css_event/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css_event/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css_event/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="/static/css_event/override.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81704700-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
    <!-- ====================================================
	header section -->
    <header class="top-header new-header">
        <div class="container">
            <div class="row header-row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <a href="/"><img src="/static/img_event/logo.png" alt="" class="logo" ></a>
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navigator navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav  navbar-right">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="ca">Campus Ambassador</a></li>
									<li>
									  <a id="events" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										Events
										<span class="caret"></span>
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="events">
										<li><a href="/idp">Industry Defined Problems</a></li>
										<li><a href="/ppt">Paper Presentation</a></li>
										<li><a href="/conclave">River Rejuvenation Conclave</a></li>
									</li>
									</ul>
									<li>
									  <a id="competitions" data-target="#" href="/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										Competitions
										<span class="caret"></span>
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="competitions">
										<li><a href="/">Torque</a></li>
										<li><a href="/">Down The Hill</a></li>
										<li><a href="/">Seismica</a></li>
										<li><a href="/">Enviro</a></li>
										<li><a href="/">Building Innovation Model</a></li>
										<li><a href="/">Quriosity</a></li>
									  </ul>
									</li>
									<!-- register tab hide
									<li  class="btn-register"><a onclick="alert('Registrations opening soon!');">Register</a></li>
									-->
								</ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- banner area starts here -->
    <section class="banner new city text-center" id="sec1">
        <div class="container">
            <div class="row">
                <h3></h3>

                <div style="font-size:45px; color:white">Convergence</div>
                <div style="font-size:35px; color:white" ><em>PRIZE WORTH RS.15,000</em></div>>

                

                <img src="/static/img_event/pin.png" alt="">
                <br>

               <!--
               <a href="#introduction" class="know-more" style="text-transform:none;"> <button class="know-more" >KNOW MORE</button><a> -->
            </div>
        </div>
    </section> <br><br>
    <!-- end of banner section -->

    <!-- about section -->
   








      <section>
        <div class="container">
            
                <div >  
                    <ul class="nav nav-pills">
                      <li class="active"><a data-toggle="tab" href="#menu1">Introduction</a></li>
            
                     <li><a data-toggle="tab" href="#menu2">Event Structure</a></li>
      
                     <li><a data-toggle="tab" href="#menu5">Contact</a></li>
                     
                  <!--   <li style="padding-left:500px; padding-bottom:20px; color:white;" ><button type="button" class="btn btn-info"><a href="register">Register</a></button></li>   -->
                    
                
  <div class="tab-content">
    
    <div id="menu1" class="tab-pane fade in active">      <div style="padding-bottom:95px;">
      <div style="padding-top:45px;">

        <p class="text-left">Current work scenario whether it is industry, academics or research, is shifting towards a more collaborative

model where various stakeholders associate with each other in a mutually symbiotic system. This model

demands not just domain specific skills like knowing how to design a bridge, but also present your ideas,

discuss their implications and reach to a conclusion. This requires various soft skills in combination with

equally competent conceptual understanding of domain skills. If you feel you have the blend of domain and

soft skills to not just tackle, but lead in such an environment, converge at Convergence!
</p>
          </div>
       </div>
    </div>
    


   
  <div id="menu2" class="tab-pane fade">

       <br>

    <table class="table table-striped">
            <thead>
              <tr>
                 <th>The event will occur in three rounds</th>
              </tr>
            </thead>
      <tbody>

     
        
           <tr> <td> ROUND 1: (ANALYZE AN ISSUE)</td> </tr>
        

        
           
        
      
        <tr>
           <td>
The "Analyze an Issue" task assesses your ability to think critically about a topic of general interest and to clearly express your thoughts about it in writing. Each Issue topic makes a claim that can be discussed from various perspectives and applied to many different situations or conditions. Your task is to present a compelling case for your own position on the issue. Before beginning your written response, be sure to read the issue and the instructions that follow the Issue statement. Think about the issue from several points of view, considering the complexity of ideas associated with those views. Then, make notes about the position you want to develop and list the main reasons and examples you could use to support that position.<br>
Following are the major points related to Round 1: <br>
1.  Students will be provided with various domain centric issues based questionnaire, dealing with daily life situations, discussing topics from current infrastructure, transportation, environment and technology changes industry. <br>
2.  Timings, answering format and marking scheme of the questions will be declared at the event venue.<br>
3.  Based on the responses, the judges will shortlist students for Round 2 by evaluating the skills with which they address the specific instructions and articulate and develop an argument to support your evaluation of the issue.<br>



</td>
        
        </tr>

        <tr>
           <td>ROUND 2 (PRESENT AN ARGUMENT) </td>
           
        </tr>

        <tr>
          <td> The "Present an Argument" task assesses your ability to form, understand, analyze and evaluate arguments according to specific instructions and to convey your ideas clearly to your group. Each topic consists of a brief passage based on round 1 topics focussing on an issue related to current infrastructure, transportation, environment etc.
Your task is to discuss the logical soundness of the author's case by critically examining the line of reasoning and the use of evidence. This task requires you to understand and comprehend the argument and instructions carefully, as well as expressing your ideas to your group, and with course of time “CONVERGING” to an outcome.</td></tr>

         <tr>
          <td>ROUND 3</td></tr>

        <tr><td>
            
This round checks your ability to present your argument and ideas in One-to-One interaction session with the judges. This session will be similar to client-industry scenario, such as the scenario where a hydrologist tries to convince the government officials to take preventive measures to prevent flooding in a particular area. The event roams about the ability of the individual participant to present his ideas, convince the judges, make points and decisions on the go, remaining professional and giving logical points.


        </td></tr>  
  



      </tbody>
    </table>








 </div>



     





     <div id="menu5" class="tab-pane fade">

      <div style="padding-top:40px;">
      <div style="padding-bottom:60px">

          
          <div style="padding-top:20px; " > 
           <h2>Contacts</h2> </div>


    


            <div class="row">
              <div class="col-md-8"> <p> Kumar Anunay </p>
                   <p><i class="fa fa-university"></i> Junior Undergraduate IIT(BHU)</p>
                   <p><i class="fa fa-phone"></i> +91-9935009220</p>
                   <p><i class="fa fa-envelope"></i>kumar.anunay.civ14@iitbhu.ac.in</p>
      
         

        

              </div>
                <div class="col-md-4 offset-md-4"><p> Sanskar Modi </p>
                   <p><i class="fa fa-university"></i>Junior Undergraduate IIT(BHU)</p>
                   <p><i class="fa fa-phone"></i>  +91-7839346650</p>
                   <p><i class="fa fa-envelope"></i>sanskar.modi.civ14@iitbhu.ac.in</p></div>
            
            </div>

          
            
          
     </div>
     </div>
    </div>
  </div>
</div>
               


          




        
                    
                    
                </div>

             
            </div>
        </div>
    </section>

    <!-- end of about section -->

    <!-- service section -->
     
 
    <!-- footer starts here -->
   <!-- <footer class="footer">
	<div class="row footer-text">
		<div class="col-lg-4 col-md-4 col-sm-4">
		<p>Shilp'16</p>
		<p><i class="fa fa-map-marker"></i>  Department of Civil Engineering</p>
		<p>  Indian Institute of Technology (BHU)</p>
		<p>  Varanasi (U.P.) </p>
		<p>  India </p>
		</div>
		<div class="col-lg-4  col-md-4 col-sm-4">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
		<p></p>
		<p><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top"><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
        <p><a href="http://www.shilpiitbhu.org/"><i class="fa fa-globe"></i>   shilpiitbhu.org</a> </p>
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" class="social-btn" target="_blank"><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        <p><a href="http://www.iitbhu.ac.in" target="_blank"><i class="fa fa-mortar-board"></i>  IIT-BHU Official Site</a> </p>
		</div>
	</div>
    </footer> 

<div id="sitemap" style="padding : 20px 10px 30px 20px; background-color: #303135;">
<div class="row">
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8c9398;">Shilp 16</p><br><a href="ca" >Campus Ambassador</a><br><a href="/" >Competitions</a><br></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Events</p><br><a href="ppt" >Paper Presentation</a><br><a href="idp" >Industry Defined Problem</a><br><a href="conclave" >River Rejuvination Conclave</a></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Contact Us</p><br>
    <p style="color:#BFBFBF;"><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top" ><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
    
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" target="_blank" ><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        
</div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Find Us </p>><br>
    
        <p style="color:#BFBFBF;><i class=" fa-map-marker"></i>  Department of Civil Engineering</p>
        <p style="color:#BFBFBF;">  Indian Institute of Technology (BHU)</p>
        <p style="color:#BFBFBF;">Varanasi (U.P.), India </p>
        
</div>

</div>
</div>-->
<div id="sitemap" style="padding : 20px 10px 30px 20px; background-color: #303135;">
<div class="row">
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8c9398; margin-bottom:10px;">Shilp 16</p><hr class="line" width="27%" style="margin:0 0 0 0px;"><br><a href="ca" >Campus Ambassador</a><br><a href="/#competitions" >Competitions</a><br></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398; margin-bottom:10px;">Events</p><hr class="line" width="27%" style="margin:0 0 0 0px;"><br><a href="ppt" >Paper Presentation</a><br><a href="idp" >Industry Defined Problem</a><br><a href="conclave" >River Rejuvination Conclave</a></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398; margin-bottom:10px;">Contact Us</p><hr class="line" width="27%" style="margin:0 0 0 0px;"><br>
    <p style="color:#BFBFBF;"><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top" ><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
    
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" target="_blank" ><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        
</div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398; margin-bottom:10px;">Find Us </p><hr class="line" width="27%" style="margin:0 0 0 0px;"><br>
    
        <p style="color:#BFBFBF; font-family:'Lato', Calibri, Arial, sans-serif";><i class=" fa-map-marker"></i>  Department of Civil Engineering</p>
        <p style="color:#BFBFBF; font-family:'Lato', Calibri, Arial, sans-serif";>  Indian Institute of Technology (BHU)</p>
        <p style="color:#BFBFBF;font-family:'Lato', Calibri, Arial, sans-serif;">Varanasi (U.P.), India </p>
        
</div>

    <!-- script tags
	============================================================= -->
    <script src="/static/js_event/jquery-2.1.1.js"></script>
    <script src="/static/js_event/smoothscroll.js"></script>
    <script src="/static/js_event/bootstrap.min.js"></script>
    <script src="/static/js_event/custom.js"></script>
</body>

</html>
