<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Paper presentation event in organized with an aim to promote the ideas and research in the field of Civil Engineering. We invite all enthusiastic scholars to pen down their ideas and present their valuable work and in this event.">
    <meta name="author" content="Yogesh Naik , kushagra Agrawal , Shirali Prajapati">
    <title>Hospitality | Shilp 2016</title>
                <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/css_event/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css_event/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css_event/style.css">
	<link rel="stylesheet" href="/static/css_event/override.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81704700-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
    <!-- ====================================================
	header section -->
    <header class="top-header new-header">
        <div class="container">
            <div class="row header-row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <a href="/"><img src="/static/img_event/logo.png" alt="" class="logo"></a>
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                           <div class="collapse navigator navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav  navbar-right">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="ca">Campus Ambassador</a></li>
									<li>
									  <a id="events" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										Events
										<span class="caret"></span>
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="events">
										<li><a href="/idp">Industry Defined Problems</a></li>
										<li><a href="/ppt">Paper Presentation</a></li>
										<li><a href="/conclave">River Rejuvenation Conclave</a></li>
									</li>
									</ul>
									<li>
									  <a id="competitions" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										Competitions
										<span class="caret"></span>
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="competitions">
                                        <li><a href="/">Torque</a></li>
                                        <li><a href="/">Down The Hill</a></li>
										<li><a href="/">Seismica</a></li>
										<li><a href="/">Enviro</a></li>
										<li><a href="/">Building Innovation Model</a></li>
										<li><a href="/">Quriosity</a></li>
									  </ul>
									</li>
									
									
									
								</ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- banner area starts here -->
    <section class="banner  new text-center" id="sec1"  style="background: url(static/ghats.jpg);       background-repeat: no-repeat;
    background-size: cover;
    background-position: center;">
        <div class="container">
            <div class="row  " >
                <h3></h3>

                <h1> Welcome</h1><br>
                

                <h2 style="color:white;">to the Mystic Banaras. </h2>


                

                <img src="/static/img_event/pin.png" alt="">
                <br>
            </div>
        </div>
    </section>
    <!-- end of banner section -->

    <!-- about section -->
    <section>
        <div class="container">
            
                <div >   
                    <ul class="nav nav-pills">
                      <li class="active"><a data-toggle="tab" href="#introduction">Introduction</a></li>
                      <li><a data-toggle="tab" href="#reach-iit-bhu">HOW TO REACH IIT (BHU)</a></li>
                      <li><a data-toggle="tab" href="#instructions">INSTRUCTIONS</a></li>
                      <li><a data-toggle="tab" href="#contacts">Contact Us</a></li>
                      <li style="float: right"  class="active"><a target="_blank"  href="https://www.thecollegefever.com/events/shilp">Payment Portal <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> </li> 
                 </ul>
                    
                
     <div class="tab-content">
    
    <div id="introduction"  class="tab-pane fade in active">
      <div style="padding-bottom:95px;">
      <div style="padding-top:45px;">
      <blockquote class="text-left" style="color:#dc4e4e; font-size:15px;"><i><b>"</b>Atithi Devo Bhava<b>"</b></i></blockquote>
                    <p class="text-left"> Well this motto runs in heart of each and every Indian. We at Shilp, IIT (BHU), Varanasi, welcome you at the ‘Abode of Lord Shiva’. With the overwhelming crowd arriving here, the hospitality of guests is our prime focus.<br>
We, at Shilp are constantly striving to provide each and everyone of you the best facilities, fulfilling your needs, primarily for accommodation and your security. Along with accommodation facilities for our participants, we would be providing them both mess and canteen, serving them a variety of cuisine catering needs of every plate. We would pull out all the stops to make your stay comfortable, so that you can cherish these memories.<br>
Eagerly awaiting for your arrival at Shilp’16. Feel free to give any suggestion or query.

                         </p>
          </div>
       </div>
    </div>
  
    <div id="reach-iit-bhu" class="tab-pane fade">
      <div style="padding-bottom:95px;">
        <div style="padding-top:45px;">
          <br>
          <h4> From Airport to IIT(BHU):</h4>
          <p class="text-left">
          BHU Campus is about 35 kms. from Varanasi (Babatpur) Airport. The taxi charges from Airport to BHU Campus are about INR 600/-.
          </p>
          <br><h4>From Varanasi Cantt. (Junction) Railway Station to IIT(BHU): </h4>
          <p>BHU Campus is about 10 kms. from Varanasi Cantt. railway Station. Round the clock Auto/ Taxi services are available from Varanasi Cantt. Railway Station to BHU (Lanka). The tentative charges are: for reserve auto Rs. 120-150/-, shared auto Rs. 15/- and for Taxi Rs. 300/- to 350/-. </p>
          <br><h4>From Mughalsarai Railway Station to IIT(BHU):</h4>
          <p>BHU Campus is about 20 kms. from Mughalsarai Railway Station. Round the clock Auto/ Taxi services are available from Mughalsarai Railway Station to BHU(Lanka). The tentative charges are: for reserve auto Rs. 200/-, shared auto Rs. 35/- and for Taxi Rs. 300/- to 350/-.
          </p><br><br>
          <iframe style="width: 80%;height: 300px;" src="//www.google.com/maps/embed/v1/place?q=Department%20of%20Civil%20Engineering%20Varanasi&zoom=14&attribution_source=Google+Maps+Embed+API&attribution_web_url=https://developers.google.com/maps/documentation/embed/&key=AIzaSyDivUoW_gE5PNBDA8XFCyqi-T5Zhb5RGKE">
          </iframe>
        </div>
      </div>
    </div>

    <div id="instructions" class="tab-pane fade">
      <div style="padding-bottom:95px;">
        <div style="padding-top:45px;">
          <br>
          <ul>
            <li>Accommodation will be provided from September 22nd evening.</li>
            <li>You’re required to report at the hospitality desk at Dhanrajgiri Hostel as soon as you arrive at the campus.</li>
            <li>All student participants must carry their valid College photo ID card. Others must bring their valid photo identity for the purpose of entry. People without valid photo identity card will not be allowed inside the campus during Shilp.</li>
            <li>The fee for Shilp'16 registration is INR 300.</li>
            <li>Registration includes:
              <ul>
                <li>Participation in any of the Shilp'16 events except Paper Presentation.</li>
                <li>Passes for all guest lectures.</li>
              </ul>
            </li>
                        <li>The fee for Paper Presentation registration is INR 500/Paper.</li>

            <li>The fee for hospitality registration is INR 600.</li>
            <li>Please bring 2 passport sized photographs.</li>
            <li>Facilities provided:
              <ul>
                <li>Lodging from 22nd to 25th November .</li>
                <li>Breakfast,lunch and dinner during the period of stay.</li>
              </ul>
            </li>
            <li>Security of laptops and other belongings will be the responsibility of participants only. Shilp will not be responsible for any loss or damage to the belongings of the participants.</li>
            <li>Participants are to bring along all the material required for the respective events.</li>
            <li>Kindly note that the accommodation is strictly on a shared basis and any requests for individual rooms or any complaints in this regard shall not be entertained.</li>
            <li>Random checks would be made to avoid any illegal stay at the campus. Any team failing to produce their receipts of accommodation would be heavily fined and disqualified.</li>
            <li>Alcohol, Cigarettes, drugs, any intoxicants, sharp objects and explosives of any kind are strictly prohibited inside the campus. Any other item if deemed unsafe will be prohibited. The decision of Shilp team will be final in case of any disputes.</li>
            <li>There are SBI and Bank of Baroda ATMs inside the campus. There’s also an AXIS bank ATM just outside the campus, near Hyderabad Gate.</li>
          </ul>
        </div>
      </div>
    </div>


     <div id="contacts" class="tab-pane fade">

      <div style="padding-top:40px;">
      <div style="padding-bottom:60px">

          
          <div style="padding-left:500px"> 
            <h2>Contacts</h2> 
          </div>
            <div class="row">
              <div class="col-md-8"> <p> Apratim Yadav </p>
                   <p><i class="fa fa-university"></i> Senior Undergraduate IIT(BHU)</p>
                   <p><i class="fa fa-phone"></i>  +91 9919-575-367</p>
                   <p><i class="fa fa-envelope"></i> hospitality@shilpiitbhu.org</p>
              </div>
            </div>
            
          
     </div>
     </div>
    </div>
  </div>
</div>

    	
					
                    
                </div>

             
            </div>
        </div>
    </section>
    <!-- end of about section -->

    <!-- service section -->

 
    <!-- footer starts here -->
   <!-- <footer class="footer">
	<div class="row footer-text">
		<div class="col-lg-4 col-md-4 col-sm-4">
		<a href="ca">CAMPUS AMBASSADOR</a><br><a href="#kirtu">COMPETITIONS</a><br><a href="ppt">Paper Presentation</a><br><a href="idp">Industry Defined Problem</a><br><a href="conclave">River Rejuvination Conclave</a>
		</div>
		<div class="col-lg-4  col-md-4 col-sm-4">
        <p></p>
        <p><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top"><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
        <p><a href="http://www.shilpiitbhu.org/"><i class="fa fa-globe"></i>   shilpiitbhu.org</a> </p>
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" class="social-btn" target="_blank"><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        <p><a href="http://www.iitbhu.ac.in" target="_blank"><i class="fa fa-mortar-board"></i>  IIT-BHU Official Site</a> </p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
        <p>Shilp'16</p>
        <p><i class="fa fa-map-marker"></i>  Department of Civil Engineering</p>
        <p>  Indian Institute of Technology (BHU)</p>
        <p>  Varanasi (U.P.) </p>
        <p>  India </p>
		
		</div>
	</div>
    </footer> -->

    <div id="sitemap" style="padding : 20px 10px 30px 20px;  background-color: #303135;">
<div class="row">
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8c9398;margin-bottom:10px;">Shilp 16</p><hr class="line" width="27%" style="margin:0 0 0 0px;"><br><a href="ca" >Campus Ambassador</a><br><a href="/#competitions" >Competitions</a><br></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;margin-bottom:10px;">Events</p><hr class="line" width="27%" style="margin:0 0 0 0px;"><br><a href="ppt" >Paper Presentation</a><br><a href="idp" >Industry Defined Problem</a><br><a href="conclave" >River Rejuvination Conclave</a></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;margin-bottom:10px;">Contact Us</p><hr class="line" width="27%" style="margin:0 0 0 0px;"><br>
    <p style="color:#BFBFBF;"><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top" ><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
    
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" target="_blank" ><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        
</div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;margin-bottom:10px;">Find Us </p><hr class="line" width="27%" style="margin:0 0 0 0px;"><br>
    
        <p style="color:#BFBFBF;><i class=" fa-map-marker"></i>  Department of Civil Engineering</p>
        <p style="color:#BFBFBF;">  Indian Institute of Technology (BHU)</p>
        <p style="color:#BFBFBF;">Varanasi (U.P.), India </p>
        
</div>

</div>
</div>


    <!-- script tags
	============================================================= -->
    <script src="/static/js_event/jquery-2.1.1.js"></script>
    <script src="/static/js_event/smoothscroll.js"></script>
    <script src="/static/js_event/bootstrap.min.js"></script>
    <script src="/static/js_event/custom.js"></script>
</body>

</html>
