<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" class="no-js">
<head>
      

      		<!--gally-->
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files -->
<!-- <link href="/static/css22/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/static/css22/style.css" type="text/css" rel="stylesheet" media="all"> 
<link rel="stylesheet" href="/static/css22/lightbox.css"> -->
<!-- //Custom Theme files -->
<!-- js -->
<script src="/static/js22/jquery-1.11.1.min.js"></script> 
<link href='//fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--animate-->
<!-- <link href="/static/css22/animate.css" rel="stylesheet" type="text/css" media="all"> -->
<script src="/static/js22/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!-- //js -->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<!--//end-animate-->
<!-- start-smoth-scrolling-->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--gallary-->

			<link rel="shortcut icon" href="/static/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css21/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css21/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css21/component.css" />
		<script src="/static/js21/modernizr.custom.js"></script>



		<style>
		.icon:before {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
       } 
    </style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shilp 16</title>
	<meta name="description" content="Shilp is the Technical festival of Department of Civil Engineering, IIT (BHU), Varanasi, conducted by its CES (Civil Engineering Society). It aims to create learning and innovative environment and simultaneously presenting you various abstruse work problems, which will compel you to squeeze all your knowledge and the same time enriching yourself with new skills." />
	<meta name="keywords" content="varanasi, iit bhu, civil engineering, technical fest, technology, engineering, shilp, banaras, shilp,16 ," />
	<!-- <meta name="author" content="Yogesh Naik , kushagra Agrawal , Shirali Prajapati" /> -->
	<!-- Bootstrap -->
	<script src="/static/js/modernizr.custom.js"></script>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/jquery.fancybox.css" rel="stylesheet">
	<link href="/static/css/flickity.css" rel="stylesheet" >
	<link href="/static/css/animate.css" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
	<link href="/static/css/styles.css" rel="stylesheet">
	<link href="/static/css/queries.css" rel="stylesheet">
	
	
	
	
	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content="http://www.shilpiitbhu.org/static/images/poster.jpg"/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="http://www.shilpiitbhu.org/static/images/poster.jpg" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link href="/static/css/queries2.css" rel="stylesheet">
		<link href="/static/css2/styles2.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/static/css/flexslider.css" rel="stylesheet" >

		<script type="application/x-javascript"> 
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
		</script>
		<!--mobile apps-->
		<!--Custom Theme files -->
		<link href="/static/css3/bootstrap.css" type="text/css" rel="stylesheet" media="all">
		<link href="/static/css3/style.css" type="text/css" rel="stylesheet" media="all"> 
		<!-- <link rel="stylesheet" href="/static/css3/lightbox.css"> -->
		<!-- //Custom Theme files -->
		<!-- js -->
	

		<!-- //js -->
		<!--web-fonts-->
		<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<!--//web-fonts-->
		<!--animate-->
		<link href="/static/css3/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
		<script>
		new WOW().init();
		</script>
		<!--//end-animate-->
		<!-- start-smoth-scrolling-->
		<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
		</script>
		<!--//end-smoth-scrolling-->


		<!--//slider-->
		<link rel="stylesheet" type="text/css" href="/static/css4/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css4/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/css4/custom.css" />
		<script type="text/javascript" src="/static/js4/modernizr.custom.79639.js"></script>
		<noscript>
			<link rel="stylesheet" type="text/css" href="/static/css4/styleNoJS.css" />
		</noscript>
		
		<link href="/static/css/override.css" rel="stylesheet">

		<!--slider-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81704700-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body>

	
			<!--Home Slider-->
		
		<header>
			<section class="hero">
				<div class="container demo-1"  style="height: 100%;">

					<div id="slider" class="sl-slider-wrapper">

						<div class="sl-slider">

							<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
								<div class="sl-slide-inner">
								<div class="deco" data-icon=""></div>
									<h2>Shilp'16</h2>
									<br></br>
									<p class="date">23<sup>rd</sup>-25<sup>th</sup> September, 2016</p>
							          <blockquote><p>Shilp'16 is the annual technical fest of Civil Engineering Department of Indian Institute of Technology (BHU) and is organised by Civil Engineering Society.Welcome to official site of Shilp'16. </p><cite><a href="ca"><button class="btn btn-ambassador" href="#">Be a Campus Ambassador</button></a></cite></blockquote>
							</div>
							</div>
							
							<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
								<div class="sl-slide-inner">
									<div class="deco" data-icon=""></div>
                        					 <a href="ca"><h2>Campus Ambassador</h2></a>

							<blockquote><p> The Campus Ambassadorship Program by SHILP'16 is a nationwide programme which explores, innovates, shapes and exposes the students nationwide from various colleges as efficient managers and creative leaders</p><a href="ca"><cite><button class="btn btn-ambassador" href="#">Be a Campus Ambassador</button></cite></a></blockquote>

							
							</div>
							</div>
							
							<div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
								<div class="sl-slide-inner">
									<div class="deco" data-icon=""></div>
									<a href="idp"><h2>Industry Defined Problem</h2></a>

							<blockquote><p> Civil Engineeing problems are under-defined,there are many solutions, good, bad and indifferent.The art is to arrive at a good solution.This is a creative activity ,involving imagination,intuition and deliberate choice. </p><cite></cite></blockquote>
															

								</div>
							</div>
							
							<div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
								<div class="sl-slide-inner">
									<div class="deco" data-icon=""></div>

									<a href="ppt"><h2>Paper Presentation</h2></a><br>
							<blockquote><p>Research is to see what everybody else has seen, and to think what nobody else has thought.</p><cite></cite></blockquote>
								                                      
								</div>
							</div>
							
							<div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
								<div class="sl-slide-inner">
									<div class="deco" data-icon=""></div>

									<a href="conclave"><h2> River Rejuvenation Conclave</h2></a>
							<blockquote><p>Choosing to save a river is more often an act of passion than of careful calculation. You make the choice because the river has touched your life in an intimate and irreversible way, because you are unwilling to accept its loss.</p><cite>David Bolling</cite></blockquote>
							



								</div>
							</div>
						

				        </div>
						<nav id="nav-arrows" class="nav-arrows">
							<span class="nav-arrow-prev">Previous</span>
							<span class="nav-arrow-next">Next</span>
						</nav>

						<nav id="nav-dots" class="nav-dots">
							<span class="nav-dot-current"></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</nav>
                    
					</div>
				</div>
					
			</section>
		</header>
	
	
				<!--gallery Events-->


	


		<!-- Highlights -->
		<section class="features text-center section-padding" id="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="arrow">MEGA EVENTS</h1>
						<div class="features-wrapper">
							<div class="col-md-4 wp2">
								<a href="conclave">
								<div class="icon">
									<img src="/static/img/Smart-City.png" >
								</div>
							    </a>
								
								<a href="conclave"><h2> River Rejuvenation Conclave</h2></a>
								<p>This time Shilp is going to organise River Rejuvenation Conclave in which exhibition and conference held on the vision to recast India’s urban landscape</p>
							</div>
							<div class="col-md-4 wp2 delay-05s">
								<a href="idp">
								<div class="icon">
									<img src="/static/img/Industry.png" >
								</div>
							    </a>
								
								<a href="idp"><h2>Industry Defined Problem</h2></a>
								<p>Civil Engineeing problems are under-defined,there are many solutions, good, bad and indifferent.The art is to arrive at a good solution.This is a creative activity ,involving imagination,intuition and deliberate choice.</p>
							</div>
							<div class="col-md-4 wp2 delay-1s">
								<a href="ppt">
								<div class="icon">
									<img src="/static/img/Paper-Presentation.png" >
								</div>
							    </a>
								<a href="ppt"><h2>Paper Presentation</h2></a>
								<p>Many Reserch scholar get chance to present their reserch paper in this Shilp </p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- About Shilp -->
		<section class="features-intro"  id="about">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 nopadding features-intro-img">
						<div class="features-bg">
							<div class="texture-overlay"></div>
							<div class="features-img wp1">
								<img src="/static/img/html5-logo.png" alt="HTML5 Logo">
							</div>
						</div>
					</div>
					<div class="col-md-6 nopadding">
						<div class="features-slider">
							<ul class="slides" id="featuresSlider">
								<br>
								

								<li>
									<h1 class="about-head">ABOUT SHILP : Civil Engineering Society (CES)</h1>
									<p class="about-text">Shilp is the Technical festival of Department of Civil Engineering, IIT (BHU), Varanasi, conducted by its CES (Civil Engineering Society). It aims to create learning and innovative environment and simultaneously presenting you various abstruse work problems, which will compel you to squeeze all your knowledge and the same time enriching yourself with new skills.</p>
									<br>
									<p><a href="http://www.iitbhu.ac.in" target="_blank"  class="arrow-btn"><strong>Visit Official site of IIT-BHU </strong><i class="fa fa-long-arrow-right"></i></a>
									</p>
								</li>
								<li>
									
								</li>
								<li>
									
								</li>
							</ul>
						</div>
					</div>				
				</div>
			</div>
		</section>

		
	<div style="display:none;">
		<div class="gallery" id="gallery">		

			<div class="gallery-info">
  
		
		     <div class="col-md-6 gallery-grids glry-grid1">
					<div class="gallery-grids-top">
						<a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" href="/static/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen book It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.   ">
							<!-- <img src="/static/images/g1.jpg" class="img-responsive" alt=""/> -->
							<div class="b-wrapper">
								<span class="b-animate b-from-left">
									<img class="img-responsive" src="/static/images/e.png" alt=""/>
								</span>					
							</div>
						</a>
					</div>
					<div class="gallery-grids-top">
						<div class="col-md-6 bottom-grids">
							<a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" href="/static/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen book It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. ">
								<!-- <img src="/static/images/g2.jpg" class="img-responsive" alt=""/> -->
								<div class="b-wrapper">
									<span class="b-animate b-from-left">
										<img class="img-responsive" src="/static/images/e.png" alt=""/>
									</span>					
								</div>
							</a>
						</div>
						<div class="col-md-6 bottom-grids">
							<a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" href="/static/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen book It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. ">
								<!-- <img src="/static/images/g3.jpg" class="img-responsive" alt=""/> -->
								<div class="b-wrapper">
									<span class="b-animate b-from-left">
										<img class="img-responsive" src="/static/images/e.png" alt=""/>
									</span>					
								</div>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-3 gallery-grids glry-grid2">
					<a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" href="/static/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen book It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. ">
						<!-- <img src="/static/images/g4.jpg" class="img-responsive" alt=""/> -->
						<div class="b-wrapper">
							<span class="b-animate b-from-left">
								<img class="img-responsive" src="/static/images/e.png" alt=""/>
							</span>					
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grids glry-grid3">
					<a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" href="/static/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen book It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. ">
						<!-- <img src="/static/images/g5.jpg" class="img-responsive" alt=""/> -->
						<div class="b-wrapper">
							<span class="b-animate b-from-left">
								<img class="img-responsive" src="/static/images/e.png" alt=""/>
							</span>					
						</div>
					</a>
					<a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" href="/static/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen book It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. ">
						<!-- <img src="/static/images/g6.jpg" class="img-responsive" alt=""/> -->
						<div class="b-wrapper">
							<span class="b-animate b-from-left">
								<img class="img-responsive" src="/static/images/e.png" alt=""/>
							</span>					
						</div>
					</a>
				</div>
				<div class="clearfix"></div>
				<script src="/static/js/lightbox-plus-jquery.min.js"> </script>
			</div>
		</div>
	</div>
		<!--//gallery Events-->
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		
		
<!-- Feature Heading -->
		<section class="team text-center " id="team" style="padding-top:20px">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="arrow"  style=" margin-bottom: 20px" ><STRONG>FEATURES</STRONG></h1>
					</div>
				</div>
			</div>
		</section>		
		
		<!-- Shilp Features -->
		<section class="features-list" id="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4 feature-1 wp4">
							<div class="feature-icon">
								<img src="/static/img/Workshop.png" >
							</div>
							<div class="feature-content">
								<h1>Workshops</h1>
								<p>Workshops at Shilp provide an opportunity to be one on one with the latest technology while providing you valuable hands-on experience under the guidance of renowned professionals.</p>
							</div>
						</div>
						<div class="col-md-4 feature-2 wp4 delay-05s">
							<div class="feature-icon">
								<img src="/static/img/Hospitality.png" >
							</div>
							<div class="feature-content">
								<h1>Hospitality</h1>
								<p>The friendly atmosphere among students and the pleasant environment here offer more to its sojourners than just accommodation. As a participant of the Fest, your hospitality is our primary concern. </p>
							</div>
						</div>
						<div class="col-md-4 feature-3 wp4 delay-1s">
							<div class="feature-icon">
								<img src="/static/img/Competition.png" >
							</div>
							<div class="feature-content">
								<h1>Campus Ambassador</h1>
								<p>The Campus Ambassadorship Program by SHILP'16 is a nationwide programme which explores, innovates, shapes and exposes the students nationwide from various colleges as efficient managers and creative leaders. </p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

       	<section class="team text-center " id="team">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="arrow"  style=" margin-bottom: 20px" ><a name="kirtu"><STRONG>COMPETITIONS</STRONG></a></h1>
					</div>
				</div>
			</div>
		</section>


		<div   class =" event">
			<!-- Top Navigation -->
		
			<section class="grid3d vertical" id="grid3d">
				<div class="grid-wrap">
					<div class="grid">
                        <div class="col-md-6 "  style="padding:0px">
                            <figure class="gridfig">						
						            <a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s"  >
							           <img src="/static/images/t.png" class="img-responsive" alt=""/>
							                <div class="b-wrapper">
								               <span class="b-animate b-from-left">
									               <img class="img-responsive" src="/static/images/e.png" alt=""/>
								                </span>					
							                </div>
						            </a>
                            </figure>
                            <div class="col-md-6"   style="padding:0px">
						    <figure class="gridfig">						
							<a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s"  >
							<img src="/static/images/bim.png" class="img-responsive" alt=""/>
							<div class="b-wrapper">
								<span class="b-animate b-from-left">
									<img class="img-responsive" src="/static/images/e.png" alt=""/>
								</span>					
							</div>
					        </a>
					        </figure>
					        </div>
					        <div class="col-md-6"  style="padding:0px">
						    <figure class="gridfig">						
							<a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s"  >
							<img src="/static/images/enviro.png" class="img-responsive" alt=""/>
							<div class="b-wrapper">
								<span class="b-animate b-from-left">
									<img class="img-responsive" src="/static/images/e.png" alt=""/>
								</span>					
							</div>
						     </a>
					        </figure>
					    </div>
					    <div class="clearfix"></div>

                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3"  style="padding:0px">
						   <figure class="gridfig">						
						  <a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s"  >
							<img src="/static/images/stones.png" class="img-responsive" alt=""/>
							<div class="b-wrapper">
								<span class="b-animate b-from-left">
									<img class="img-responsive" src="/static/images/e.png" alt=""/>
								</span>					
							</div>
						  </a>
                           </figure>
                       </div>
                        <div class="col-md-3 col-sm-3 col-lg-3"  style="padding:0px" style="padding:0px">
						   <figure class="gridfig">						
							<a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s"  >
							<img src="/static/images/q.png" class="img-responsive" alt=""/>
							<div class="b-wrapper">
								<span class="b-animate b-from-left">
									<img class="img-responsive" src="/static/images/e.png" alt=""/>
								</span>					
							</div>
					        </a>
					       </figure>
						   <figure class="gridfig">						
							<a class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s"  >
							<img src="/static/images/s.png" class="img-responsive" alt=""/>
							<div class="b-wrapper">
								<span class="b-animate b-from-left">
									<img class="img-responsive" src="/static/images/e.png" alt=""/>
								</span>					
							</div>
						     </a>
					       </figure>
					   </div>
						
					</div>
				</div><!-- /grid-wrap -->
			
				<div class="content">
					<div>
						<div  class="dummy-img">
							<img src="/static/img/pop.1.png" alt="img01"  />
						</div>
						<div class="row"><strong><h1>INTRODUCTION</h1></strong></div>
						<p class="dummy-text">Hydro-electricity is one of the most prominent sustainable form of electricity as hydroelectricity is generated using the kinematic energy from a turbine which receives the force from moving water. The above description makes it quite easy to understand that the turbine plays a very crucial role in generation of hydro-electricity. Modern turbines are very efficient but there is always room for improvement so Shilp’16 hosts torque to give a stage to all of you with those innovative ideas stacked up in your heads. In this event participants are supposed to design and build a hydro turbine to convert the mechanical energy from a falling stream of water to electrical energy. So participate in this event and learn and build something, not just for winning but for protecting the environment.</p>
						<h3 style="color:red">More Details Coming Soon</h3>					
					</div>
					<div>
						<div  class="dummy-img">
							<img src="/static/img/pop.2.png" alt="img01"  width="50%"/>
						</div>
						<div class="row"><strong><h1>INTRODUCTION</h1></strong></div>

						<p class="dummy-text">Ever had an idea about an eco-friendly building? We at shilp want you to give that idea a shot. The participants will be creating models of green buildings out of their own innovative ideas using Autodesk Revit. The buildings should be energy efficient, with all the basic requirements of a duplex of the given size. Develop your skills and knowledge of sustainable development along with the experience of Computer Aided Development. These skills are the need of the hour and thus this event will set a great stage for those who want to work for the environment. Maybe your idea is the next big step towards the much needed environment friendly development</p>
								<h3 style="color:red">More Details Coming Soon</h3>					
					</div>
					<div>
						<div  class="dummy-img">
							<img src="/static/img/pop.3.png" alt="img01"  width="50%"/>
						</div>
						<div class="row"><strong><h1>INTRODUCTION</h1></strong></div>

						<p class="dummy-text">Recently some anti-environmentalists have claimed that the Earth is actually in fine shape. Enviro is a case study about environmental degradation due to various reasons. You will be taught about the impacts of this degradation and the working principles of the new technologies that are being used nowadays to reduce pollution will be explained to you elaborately. You will get a great exposure to environmental engineering and a great deal of knowledge to develop an innovative thinking in this direction which is required to solve the environmental problem someday because the earth is not in good shape and we need all the help we can get to protect the environment so that one day we, unlike the false claims of the anti-environmentalists, may gladly declare that our Earth is in fine shape.</p>
						<h3 style="color:red">More Details Coming Soon</h3>					
					</div>
					<div>
						<div  class="dummy-img">
							<img src="/static/img/pop.4.png" alt="img01"  width="50%"/>
						</div>
						<div class="row"><strong><h1>INTRODUCTION</h1></strong></div>

						<p class="dummy-text">A blend of construction and creativity, Roller Coaster at Shilp'16 is where construction meets creativity. Participants will try to put forward the best design, aesthetics and sophistication as they build a track for a marble to roll down in minimum time to earn maximum points. This will give them a first-hand experience of construction, mechanics, having an elegant design along with being sophisticated in their approach and building.</p>
						<h3 style="color:red">More Details Coming Soon</h3>					
					</div>
					<div>
						<div  class="dummy-img">
							<img src="/static/img/pop.5.png" alt="img01"  width="50%"/>
						</div>
						<div class="row"><strong><h1>INTRODUCTION</h1></strong></div>

						<p class="dummy-text">Quriosity at shilp'16 is for those who are passionate in their endeavours and have the analytical mojo in them. A highly celebrated national level puzzle solving and logical reasoning contest, it gives you an opportunity to be a part of notable companies and start-ups, as INTERNS, recruiting directly based on your ranking in the event.<br> So get ready to exercise all your wits, communication skills, reasoning and professional temperament as you battle it out to reach the top of the grid in QURIOSITY'16.</p>
						<h3 style="color:red">More Details Coming Soon</h3>					
					</div>
					<div>
						<div  class="dummy-img">
							<img src="/static/img/pop.6.png" alt="img01"  width="50%"/>
						</div>
						<div class="row"><strong><h1>INTRODUCTION</h1></strong></div>
                        <p class="dummy-text">
						Disasters or accidents can’t be avoided but improvisations can be made around us to live through them when they happen. In Seismica the participants will design a shock absorbing mechanism which can sustain maximum impulse when dropped from a given height with payload. There are uncountable applications of this mechanism which are not limited only to the field of civil engineering, this mechanism can be used in cars, aeroplanes, buildings, etc. The idea of the project is to give you a chance to save some lives for who knows, maybe your idea is the revolutionary step towards a better and safer tomorrow.b</p>
									<h3 style="color:red">More Details Coming Soon</h3>
					</div>
					<div>
						<div  class="dummy-img">
							<img src="/static/img/1.jpg" alt="img01"  width="50%"/>
						</div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div  class="dummy-img">
							<img src="/static/img/1.jpg" alt="img01"  width="50%"/>
						</div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<div>
						<div  class="dummy-img">
							<img src="/static/img/1.jpg" alt="img01"  width="50%"/>
						</div>
						<div class="dummy-img"></div>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
						<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
					</div>
					<span class="loading"></span>
					<span  class="icon  close-content " ></span>
				</div>
			</section>
			
		</div><!-- /container -->
		<script src="/static/js21/classie.js"></script>
		<script src="/static/js21/helper.js"></script>
		<script src="/static/js21/grid3d.js"></script>
		<script>
			new grid3D( document.getElementById( 'grid3d' ) );
		</script>


		<!-- Guest Lectures -->
		<section class="team text-center section-padding" id="team" >
			<div class="container">
				<div class="row">
					<div class="col-md-12"  style="padding-top:20px">
						<h1 class="arrow"><STRONG>Previous Year Guest Lectures</STRONG></h1>
					</div>
				</div>



				<div class="row">
					<div class="team-wrapper">
						<div id="teamSlider">
							<ul class="slides">
								<li>
									<div class="col-md-4 wp5">
										<img src="/static/img/2.png" alt="image with circle shape" >
										<h2>Mr. B. Singh</h2>
										<p>Dr. B. Singh is the founder and CMD of Made Easy (an all India institute for engineering services examination). He is also an alumnus of the Civil Engineering Department, IIT (BHU).</p>
										
									</div>

									<div class="col-md-4 wp5 delay-05s">
										<img src="/static/img/3.png" alt="image with circle shape" >
										<h2>Dr. S. R. Karade</h2>
										<p>Dr.S. R. Karade is the chief scientist at CBRI, Roorkee.  He is well known for his expertise in civil and environmental engineering. He owns more than 70 journal papers to his name.   </p>
										
									</div>
									<div class="col-md-4 wp5 delay-1s">
										<img src="/static/img/1.png"  >
										<h2>Mr. Nilanjan Basu</h2>
										<p>Nilanjan Basu is the founder and CEO of Basu Consultancy Engineers. He is a Structural Engineer who is well versed in Indian, American, British and European codes.</p>
										
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer -->
		
		<footer class="dark-bg text-center section-padding contact-wrap " id="contact"  class=" event">
          <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">OUR TEAM </h1>
              </div>
            </div>
            <div class="row contact-details"  style="margin-bottom: 10px;margin-top: 10px">
              <div class="col-md-4">
                    <a href="https://www.google.co.in/maps/place/Department+Of+Civil+Engineering/@25.2652556,82.9865771,16z/data=!4m5!3m4!1s0x0:0xae98dac868570530!8m2!3d25.2629384!4d82.9919028" target="_blank"  >
                     <div class="light-box box-hover">
                             <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>

                               <p>Dept. of Civil Engg., IIT(BHU), Varanasi ( U.P.)</p>
                    
                     </div>
                    </a>
              </div>
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>

                  <p>+91 991-957-5367</p>
                </div>
              </div>
              <div class="col-md-4">
                        <a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top">
                            <div class="light-box box-hover">
                                      <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                                        <p>shilp@iitbhu.ac.in</p>
                            </div>
                            </a>
              </div>
            </div>

           <!-- <div class="row">
              <div class="col-md-4 col-md-offset-4 "    style="padding-left: 180px;padding-right: 125px; padding-top:20px">
                <ul class="social-buttons">

                  <li id="fb"><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" class="social-btn" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  
                  <li><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top" class="social-btn"><i class="fa fa-envelope"></i></a></li>
-->
             

                </ul>
              </div>
            </div>
          </div>
       
		</footer>
<div id="sitemap" style="padding : 20px 10px 30px 20px">
<div class="row">
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8c9398;">Shilp 16</p><br><a href="ca">Campus Ambassador</a><br><a href="#kirtu">Competitions</a><br></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p>Events</p><br><a href="ppt" style="color:#BFBFBF;">Paper Presentation</a><br><a href="idp">Industry Defined Problem</a><br><a href="conclave">River Rejuvination Conclave</a></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p>Contact Us</p><br>
	<p style="color:#BFBFBF;"><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top"><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
    
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" target="_blank"><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        
</div>
<div class="col-md-3 col-sm-3 col-lg-3"><p>Find Us </p>><br>
	
		<p style="color:#BFBFBF;><i class=" fa-map-marker"></i>  Department of Civil Engineering</p>
		<p style="color:#BFBFBF;">  Indian Institute of Technology (BHU)</p>
		<p style="color:#BFBFBF;">Varanasi (U.P.), India </p>
		
</div>

</div>
</div>
<div>

</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/static/js/min/toucheffects-min.js"></script>
		<script src="/static/js/flickity.pkgd.min.js"></script>
		<script src="/static/js/jquery.fancybox.pack.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/static/js/retina.js"></script>
		<script src="/static/js/waypoints.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<!--  
		<script src="/static/js/min/scripts-min.js"></script> -->
		<!--Slider Scripts-->
		<script type="text/javascript" src="/static/js4/jquery.ba-cond.min.js"></script>
		<script type="text/javascript" src="/static/js4/jquery.slitslider.js"></script>
		<script type="text/javascript">	
		$(function() {

			var Page = (function() {

				var $navArrows = $( '#nav-arrows' ),
				$nav = $( '#nav-dots > span' ),
				slitslider = $( '#slider' ).slitslider( {
					onBeforeChange : function( slide, pos ) {

						$nav.removeClass( 'nav-dot-current' );
						$nav.eq( pos ).addClass( 'nav-dot-current' );

					}
				} ),

				init = function() {

					initEvents();

				},
				initEvents = function() {

							// add navigation events
							$navArrows.children( ':last' ).on( 'click', function() {

								slitslider.next();
								return false;

							} );

							$navArrows.children( ':first' ).on( 'click', function() {
								
								slitslider.previous();
								return false;

							} );

							$nav.each( function( i ) {

								$( this ).on( 'click', function( event ) {
									
									var $dot = $( this );
									
									if( !slitslider.isActive() ) {

										$nav.removeClass( 'nav-dot-current' );
										$dot.addClass( 'nav-dot-current' );

									}
									
									slitslider.jump( i + 1 );
									return false;

								} );
								
							} );

						};

						return { init : init };

					})();

					Page.init();

				/**
				 * Notes: 
				 * 
				 * example how to add items:
				 */

				/*
				
				var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
				
				// call the plugin's add method
				ss.add($items);

				*/

			});
		</script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		
	     <script src="/static/js/retina.js"></script>
		<script src="/static/js2/waypoints.min.js"></script>
		<script src="/static/js2/scripts.js"></script>
		<script src="/static/js2/jquery.flexslider.js"></script>
		<script src="/static/js2/modernizr.js"></script>

	</body>
</html>
