<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Industrial Development Problem is a event where you'll explore the ideas for solving the technological challenges faced by industries.">
    <meta name="author" content="Yogesh Naik , kushagra Agrawal , Shirali Prajapati">
    <title>Industry Defined Problems</title>
                <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/css_event/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css_event/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css_event/style.css">
	<link rel="stylesheet" href="/static/css_event/override.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81704700-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
    <!-- ====================================================
	header section -->
    <header class="top-header new-header">
        <div class="container">
            <div class="row header-row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <a href="/"><img src="/static/img_event/logo.png" alt="" class="logo"></a>
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navigator navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav  navbar-right">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="ca">Campus Ambassador</a></li>
									<li>
									  <a id="events" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										Events
										<span class="caret"></span>
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="events">
										<li><a href="/idp">Industry Defined Problems</a></li>
										<li><a href="/ppt">Paper Presentation</a></li>
										<li><a href="/conclave">River Rejuvenation Conclave</a></li>
									</li>
									</ul>
									<li>
									  <a id="competitions" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										Competitions
										<span class="caret"></span>
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="competitions">
                                        <li><a href="/">Torque</a></li>
                                        <li><a href="/">Roll On</a></li>
										<li><a href="/">Seismica</a></li>
										<li><a href="/">Enviro</a></li>
										<li><a href="/">Building Innovation Model</a></li>
										<li><a href="/">Quriosity</a></li>
									  </ul>
									</li>
									
									
									
								</ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- banner area starts here -->
    <section class="banner new idp text-center" id="sec1">
        <div class="container">
            <div class="row">
                <h3></h3>

                <h1>INDUSTRY DEFINED PROBLEM</h1>

                

                <img src="/static/img_event/pin.png" alt="">
                <br>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            
                <div >  
                    <ul class="nav nav-pills">
                      <li class="active"><a data-toggle="tab" href="#menu1">Introduction</a></li>
                     <li><a data-toggle="tab" href="#menu2">Event Structure</a></li>
                     <li><a data-toggle="tab" href="#menu3">Guidelines</a></li>
                     <li><a data-toggle="tab" href="#menu4">Problem Statement</a></li>
                     <li><a data-toggle="tab" href="#menu5">Contact</a></li>
                      <li style="padding-left:400px; padding-bottom:20px; color:white;" ><button type="button" class="btn btn-info"><a href="register">Register</a></button></li> 
                    
                    </ul>
                
     <div class="tab-content">
    
    <div id="menu1" class="tab-pane fade in active">
      <div style="padding-bottom:95px;">
      <div style="padding-top:45px;">
      <blockquote class="text-left" style="color:#dc4e4e; font-size:15px;"><i><b>"</b>These days, all we hear about is that the industry is in trouble. Everybody is so scared, but our mission statement is having no fear.<b>"</b> — (Frank Iero) </i></blockquote>

                    <p class="text-left">About 0.1 million tonnes of municipal solid waste is generated in India every day. That is approximately 36.5 million tonnes annually.This gigantic amount of waste, if collected and treated, can generate energy.
                    Solid waste management systems with <b>Waste to Energy</b> combustion technology, will treat and recover energy from post-recycled waste.<br></br>
                     Despite the benefits, this technology still has some minor defects as the most common methods of waste to energy conversion are combustion,gasification and pyrolysis.
                     These techniques use incineration and emissions from incinerators can include heavy metals, dioxins and furans, most of which is highly toxic.<br></br>
                     So join us in our event <b>"Industrial Development Problem"</b> at Shilp 2k16 and thoroughly scan your brain for a solution, for ideas about the technology which should be used to limit the pollution caused by this procedure. 
                     <br></br><i>The idea should be economical, efficient, and durable as well</i>. Go creative, let your thoughts run wild, bring the change.</i>
              </p>
          </div>
       </div>
    </div>
    


   
  <div id="menu2" class="tab-pane fade">

       <br>

    <table class="table table-striped">
            <thead>
              <tr>
                 <th>Important Dates</th>
              </tr>
            </thead>
      <tbody>

    

        <tr>
           <td> 5th Sept Last date for abstract submission and shortlisting/inviting best 8 teams for final round during Shilp’16.</td>
           
        </tr>
      
        <tr>
           <td>Final round during Shilp’16 in presence of judges. </td>
           
        </tr>

      </tbody>
    </table>
       <table class="table table-striped">
    <thead>
      <tr>
        <th>General Guidelines</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> Participants will have to register online only. There is no offline submission of the entry.  While submitting the entry, participants must mention their team name.</td>

      </tr>
      <tr>
        <td>Participation can be as an individual or in a team (maximum of 5 people) and all members are required to be present during the event</td>
       
      </tr>
      <tr>
        <td>The member can be from same or different institutions</td>
      </tr> 
      <tr>
        <td>  A participating team can submit more than one idea. But the team will have to register separately for each idea.</td>
       
      </tr><tr>
        <td> Participating team can take part in other competitions too.</td>
       
      </tr><tr>
        <td>Every contestant must agree with the rules of the event and must agree to accept the declaration of confidentiality.</td>
       
      </tr>
    </tbody>
     </table> 

        <table class="table table-striped">
            <thead>
              <tr>
                 <th>TEAM SPECIFICATINS &#45; Participation can be as an individual or in a team (maximum of 5 people).</th>
              </tr>
            </thead>
     
    </table>


    <table class="table table-striped">
            <thead>
              <tr>
                 <th>Judging Criteria</th>
              </tr>
            </thead>
      <tbody>

        <tr>
           <td>  Originality and creativity of the solution .</td>
           
        </tr>
      
        <tr>
           <td>Economic cost and feasibility of the substitute. </td>
           
        </tr>

        <tr><td> Compressive strength achieved by the samples in comparison with the conventional concrete.</td></tr>
        <tr><td>Performance during final presentation</td></tr>

      </tbody>
    </table>





 </div>



    <div id="menu3" class="tab-pane fade">
       <div style="padding-bottom:100px;">
      
       <table class="table table-striped">
            <thead>
              <tr>
                 <th>GUIDELINES</th>
              </tr>
            </thead>
      <tbody>

     
        <tr>
             <td>  Submission of Abstract in the pdf. form for initial round 
               
              </td>
           
        </tr>

        <tr>
           <td>  All the ideas should be backed with some proper explanation and authentic data.</td>
           
        </tr>
      
        <tr>
           <td>For the final round of presentation during Shilp’16, your presentation must include your own sample casted data of strength, detailed mix design calculations, future scope and areas of application.</td>
           
        </tr>

        <tr>
            <td> No specified format is there but all files must be mailed as pdfs. Use of graphs, charts, financial tools and generalised algorithms will be highly appreciated.
                
            </td>

        </tr>
        <tr>
           <td> Samples(cubes) to be casted as per Indian Standard code procedure.
               
           </td>
        </tr>

        <tr>
           <td>Subject of the mail should be ‘Industrial Defined Problem’. Submissions with improper subject will not be accepted.
               
           </td>
        </tr>
        <tr><td>You have to send the mail  to shilpiitbhu</td></tr>
        <tr><td>The entries for the first round can be submitted up to the last date of submission i.e. 5th September, 2016.</td></tr>




      </tbody>
    </table>



    </div></div>
  
    <div id="menu4" class="tab-pane fade">
      
     <div style="text-align:center">
           <table class="table table-striped">
            <thead>
              <tr>
                 <th>Problem Statement</th>
              </tr>
            </thead>
      <tbody>
      <tr><th><strong>Introduction</strong> : Concrete today is probably the most widely used construction material in the world. This is due not only to wide range of applications that concrete offers, but also its great strength, affordability, durability and versatility. It consist of rationally chosen mixture of binding material such as lime or cement, well graded fine and coarse aggregates, water and admixtures(to produce concrete  with special properties). In a concrete mix, cement and water form a paste or matrix which in addition to filling the voids of the fine aggregate, coats the surface of fine and coarse aggregates and bind them together.<br>
Aggregates occupy 70-80 per cent of the volume and have considerable influence on the properties of the concrete.  Aggregate are the materials basically used as filler in concrete. The coarse aggregate form the main matrix of concrete and the fine aggregate form the filler matrix between the coarse aggregate.  The properties to be considered while selecting aggregate for concrete are strength, particle, shape, specific gravity, bulk density, voids, porosity, moisture content, and bulking. 
Why to replace conventional aggregate?<br>
With day by day increasing constructions in society, the demand of aggregates is rising exponentially, leading to the continuous running of the processes like quarrying, blasting, mining etc. of the mountains. It is also raising many environment and nature earth concerns. So it’s not impossible to think that in upcoming future there would be a crisis of aggregate. 
We engineers should feel a moral obligation to tackle such challenges and start searching for an economic, feasible, long run and environment friendly substitute for the conventional aggregate.<br>
<strong>Objective</strong> : &#45;
To minimise the amount of conventional aggregate or fully eliminate conventional aggregate used to make concrete and find the best suitable substitute for its replacement in present conditions.<br>
<strong>Note</strong> : &#45; you can use the data available online in your presentation along with some of your genuine data obtained from lab casting, and you need to bring three of such sample casted cubes at time of event for verification purposes.

          




      </th></tr>
      </tbody>
      </table>





  </div><br>
       </div>

       <div id="menu5" class="tab-pane fade">

      <div style="padding-top:40px;">
      <div style="padding-bottom:60px">

          
          <div style="padding-top:20px;" > 
           <h2>Contact</h2> </div>


    


            <div class="row">
              <div class="col-md-8"> <p><i class="fa fa-male"></i> Lupesh</p><br>
                   <p><i class="fa fa-university"></i> Senior Undergraduate IIT(BHU)</p><br>
                   <p><i class="fa fa-phone"></i> +919919400368</p><br>
                   <p><i class="fa fa-envelope">lupesh.dudi.civ13@iitbhu.ac.in</i></p>
                
         

         <!--   for second name  

              </div>
                <div class="col-md-4 offset-md-4"><p> Deepanshu Agarwal</p>
                   <p><i class="fa fa-university"></i>Senior Undergraduate IIT(BHU)</p>
                   <p><i class="fa fa-phone"></i>  +918005201592</p>
                   <p><i class="fa fa-envelope"></i>deepanshu.agarwal.civ13@iitbhu.ac.in</p></div>
            
            </div>

            -->
            
          
     </div>
     </div>
    </div>
  </div>
</div>



  </div>
</div>

        
                    
                    
                </div>

             
            </div>
        </div>
    </section>

























    <!-- end of about section -->

    <!-- service section -->

 
    <!-- footer starts here -->
   <!-- <footer class="footer">
	<div class="row footer-text">
		<div class="col-lg-4 col-md-4 col-sm-4">
		<p>Shilp'16</p>
		<p><i class="fa fa-map-marker"></i>  Department of Civil Engineering</p>
		<p>  Indian Institute of Technology (BHU)</p>
		<p>  Varanasi (U.P.) </p>
		<p>  India </p>
		</div>
		<div class="col-lg-4  col-md-4 col-sm-4">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
		<p></p>
		<p><i class="fa fa-phone"></i>  +91991-957-5367 </p>
		<p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top"><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
		<p><a href="http://www.shilpiitbhu.org/"><i class="fa fa-globe"></i>   shilpiitbhu.org</a> </p>
		<p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" class="social-btn" target="_blank"><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
		<p><a href="http://www.iitbhu.ac.in" target="_blank"><i class="fa fa-mortar-board"></i>  IIT-BHU Official Site</a> </p>
		</div>
	</div>
    </footer>-->
    <div id="sitemap" style="padding : 20px 10px 30px 20px; background-color: #303135;">
<div class="row">
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8c9398;">Shilp 16</p><br><a href="ca" >Campus Ambassador</a><br><a href="/#competitions" >Competitions</a><br></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Events</p><br><a href="ppt" >Paper Presentation</a><br><a href="idp" >Industry Defined Problem</a><br><a href="conclave" >River Rejuvination Conclave</a></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Contact Us</p><br>
    <p style="color:#BFBFBF;"><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top" ><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
    
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" target="_blank" ><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        
</div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Find Us </p>><br>
    
        <p style="color:#BFBFBF;><i class=" fa-map-marker"></i>  Department of Civil Engineering</p>
        <p style="color:#BFBFBF;">  Indian Institute of Technology (BHU)</p>
        <p style="color:#BFBFBF;">Varanasi (U.P.), India </p>
        
</div>

</div>
</div>

    <!-- script tags
	============================================================= -->
    <script src="/static/js_event/jquery-2.1.1.js"></script>
    <script src="/static/js_event/smoothscroll.js"></script>
    <script src="/static/js_event/bootstrap.min.js"></script>
    <script src="/static/js_event/custom.js"></script>
</body>

</html>
