<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Industrial Development Problem is a event where you'll explore the ideas for solving the technological challenges faced by industries.">
    <meta name="author" content="Yogesh Naik , kushagra Agrawal , Shirali Prajapati">
    <title>Industry Defined Problems</title>
                <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/css_event/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css_event/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css_event/style.css">
	<link rel="stylesheet" href="/static/css_event/override.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81704700-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
    <!-- ====================================================
	header section -->
    <header class="top-header new-header">
        <div class="container">
            <div class="row header-row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <a href="/"><img src="/static/img_event/logo.png" alt="" class="logo"></a>
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navigator navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav  navbar-right">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="ca">Campus Ambassador</a></li>
									<li>
									  <a id="events" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										Events
										<span class="caret"></span>
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="events">
										<li><a href="/idp">Industry Defined Problems</a></li>
										<li><a href="/ppt">Paper Presentation</a></li>
										<li><a href="/conclave">River Rejuvenation Conclave</a></li>
									</li>
									</ul>
									<li>
									  <a id="competitions" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										Competitions
										<span class="caret"></span>
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="competitions">
                                        <li><a href="/">Torque</a></li>
                                        <li><a href="/">Roll On</a></li>
										<li><a href="/">Seismica</a></li>
										<li><a href="/">Enviro</a></li>
										<li><a href="/">Building Innovation Model</a></li>
										<li><a href="/">Quriosity</a></li>
									  </ul>
									</li>
									
									<li  class="btn-register"><a onclick="alert('Registrations opening soon!');">Register</a></li>
									
								</ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- banner area starts here -->
    <section class="banner new idp text-center" id="sec1">
        <div class="container">
            <div class="row">
                <h3></h3>

                <h1>INDUSTRY DEFINED PROBLEM</h1>

                

                <img src="/static/img_event/pin.png" alt="">
                <br>

               <a href="#introduction"> <button class="know-more">KNOW MORE</button><a>
            </div>
        </div>
    </section>
    <!-- end of banner section -->

    <!-- about section -->
    <section class="about new-about text-center" id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 about-heading">
                    <h2>
						INTRODUCTION
					</h2>
                    <img src="/static/img_event/daag.png" alt="----------------">
					<blockquote class="text-left" style="color:#dc4e4e; font-size:15px;"><i><b>"</b>These days, all we hear about is that the industry is in trouble. Everybody is so scared, but our mission statement is having no fear.<b>"</b> — (Frank Iero) </i></blockquote>

                    <p class="text-left">About 0.1 million tonnes of municipal solid waste is generated in India every day. That is approximately 36.5 million tonnes annually.This gigantic amount of waste, if collected and treated, can generate energy.
					Solid waste management systems with <b>Waste to Energy</b> combustion technology, will treat and recover energy from post-recycled waste.<br></br>
					 Despite the benefits, this technology still has some minor defects as the most common methods of waste to energy conversion are combustion,gasification and pyrolysis.
					 These techniques use incineration and emissions from incinerators can include heavy metals, dioxins and furans, most of which is highly toxic.<br></br>
					 So join us in our event <b>"Industrial Development Problem"</b> at Shilp 2k16 and thoroughly scan your brain for a solution, for ideas about the technology which should be used to limit the pollution caused by this procedure. 
					 <br></br><i>The idea should be economical, efficient, and durable as well</i>. Go creative, let your thoughts run wild, bring the change.</i>
</p>
                </div>

             
            </div>
        </div>
    </section>
    <!-- end of about section -->

    <!-- service section -->

 
    <!-- footer starts here -->
   <!-- <footer class="footer">
	<div class="row footer-text">
		<div class="col-lg-4 col-md-4 col-sm-4">
		<p>Shilp'16</p>
		<p><i class="fa fa-map-marker"></i>  Department of Civil Engineering</p>
		<p>  Indian Institute of Technology (BHU)</p>
		<p>  Varanasi (U.P.) </p>
		<p>  India </p>
		</div>
		<div class="col-lg-4  col-md-4 col-sm-4">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
		<p></p>
		<p><i class="fa fa-phone"></i>  +91991-957-5367 </p>
		<p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top"><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
		<p><a href="http://www.shilpiitbhu.org/"><i class="fa fa-globe"></i>   shilpiitbhu.org</a> </p>
		<p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" class="social-btn" target="_blank"><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
		<p><a href="http://www.iitbhu.ac.in" target="_blank"><i class="fa fa-mortar-board"></i>  IIT-BHU Official Site</a> </p>
		</div>
	</div>
    </footer>-->
    <div id="sitemap" style="padding : 20px 10px 30px 20px; background-color: #303135;">
<div class="row">
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8c9398;">Shilp 16</p><br><a href="ca" >Campus Ambassador</a><br><a href="/#competitions" >Competitions</a><br></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Events</p><br><a href="ppt" >Paper Presentation</a><br><a href="idp" >Industry Defined Problem</a><br><a href="conclave" >River Rejuvination Conclave</a></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Contact Us</p><br>
    <p style="color:#BFBFBF;"><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top" ><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
    
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" target="_blank" ><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        
</div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Find Us </p>><br>
    
        <p style="color:#BFBFBF;><i class=" fa-map-marker"></i>  Department of Civil Engineering</p>
        <p style="color:#BFBFBF;">  Indian Institute of Technology (BHU)</p>
        <p style="color:#BFBFBF;">Varanasi (U.P.), India </p>
        
</div>

</div>
</div>

    <!-- script tags
	============================================================= -->
    <script src="/static/js_event/jquery-2.1.1.js"></script>
    <script src="/static/js_event/smoothscroll.js"></script>
    <script src="/static/js_event/bootstrap.min.js"></script>
    <script src="/static/js_event/custom.js"></script>
</body>

</html>
