<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Paper presentation event in organized with an aim to promote the ideas and research in the field of Civil Engineering. We invite all enthusiastic scholars to pen down their ideas and present their valuable work and in this event.">
    <meta name="author" content="Yogesh Naik , kushagra Agrawal , Shirali Prajapati">
    <title>Paper  Presentation  Shilp 16</title>
                <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/css_event/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css_event/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css_event/style.css">
	<link rel="stylesheet" href="/static/css_event/override.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81704700-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
    <!-- ====================================================
	header section -->
    <header class="top-header new-header">
        <div class="container">
            <div class="row header-row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <a href="/"><img src="/static/img_event/logo.png" alt="" class="logo"></a>
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                           <div class="collapse navigator navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav  navbar-right">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="ca">Campus Ambassador</a></li>
									<li>
									  <a id="events" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										Events
										<span class="caret"></span>
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="events">
										<li><a href="/idp">Industry Defined Problems</a></li>
										<li><a href="/ppt">Paper Presentation</a></li>
										<li><a href="/conclave">River Rejuvenation Conclave</a></li>
									</li>
									</ul>
									<li>
									  <a id="competitions" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										Competitions
										<span class="caret"></span>
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="competitions">
                                        <li><a href="/">Torque</a></li>
                                        <li><a href="/">Down The Hill</a></li>
										<li><a href="/">Seismica</a></li>
										<li><a href="/">Enviro</a></li>
										<li><a href="/">Building Innovation Model</a></li>
										<li><a href="/">Quriosity</a></li>
									  </ul>
									</li>
									
									<li  class="btn-register"><a onclick="alert('Registrations opening soon!');">Register</a></li>
									
								</ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- banner area starts here -->
    <section class="banner presentation new text-center" id="sec1">
        <div class="container">
            <div class="row">
                <h3></h3>

                <h1> PAPER PRESENTATION</h1><br>

                <h2 style="color:white;"></h2>


                

                <img src="/static/img_event/pin.png" alt="">
                <br>
            </div>
        </div>
    </section>
    <!-- end of banner section -->

    <!-- about section -->
    <section>
        <div class="container">
            
                <div >  
                    <ul class="nav nav-pills">
                      <li class="active"><a data-toggle="tab" href="#menu1">Introduction</a></li>
                     <li><a data-toggle="tab" href="#menu2">Event Structure</a></li>
                     <li><a data-toggle="tab" href="#menu3">Guidelines</a></li>
                     <li><a data-toggle="tab" href="#menu4">Registration</a></li>
                     <li><a data-toggle="tab" href="#menu5">Contact</a></li>
                    </ul>
                
     <div class="tab-content">
    
    <div id="menu1" class="tab-pane fade in active">
      <div style="padding-bottom:95px;">
      <div style="padding-top:45px;">
      <blockquote class="text-left" style="color:#dc4e4e; font-size:15px;"><i><b>"</b>I believe in innovation and that the way you get innovation is you fund research and you learn the basic facts. <b>"</b>— (Bill Gates)</i></blockquote>
                    <p class="text-left">
                                The story of every little mind. An idea pops up, wanders for a while, desires to be heard and is dumped out like a waste!
                    Every innovative idea has a power to destroy the supposedly best option, all it needs is a platform to be heard and noticed, to be valued and appreciated.
                    
                               <br></br>A foundation for the tower, we present Shilp’16, with an aim to promote such ideas and research results in the field of Civil Engineering. 
                               Events that invite all enthusiastic scholars to pen down their ideas, build their dream structures and present their valuable work and suggestions.
                               <br></br>
                               <i>It’s time to explore to the depth and present the best.
                               Remember, there’s always a way to do it better, FIND IT! 
                               </i></p>
          </div>
       </div>
    </div>
    


   
  <div id="menu2" class="tab-pane fade">

       <br>

    <table class="table table-striped">
            <thead>
              <tr>
                 <th>Important Dates</th>
              </tr>
            </thead>
      <tbody>

     
        <tr>
           <td> Last date of Registration</td>
           <td>5 September</td>
        </tr>

        <tr>
           <td> Last date of Abstract Submission</td>
           <td>5 September</td>
        </tr>
      
        <tr>
           <td>Declaration of Shortlisted abstracts</td>
           <td>10 September</td>
        </tr>

        <tr>
           <td> Deadline of payment and full paper</td>
           <td>17 September</td>
        </tr>

        <tr>
          <td> Shilp</td>
          <td>23-25 September</td>
        
        </tr>
      </tbody>
    </table>





       <table class="table table-striped">
    <thead>
      <tr>
        <th>Topics</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.  Structural Engineering</td>

      </tr>
      <tr>
        <td>2.  Transportation Engineering</td>
       
      </tr>
      <tr>
        <td>3.  Geotechnical Engineering</td>
      </tr> 
      <tr>
        <td>4.  Environmental Engineering</td>
       
      </tr><tr>
        <td>5.  Hydraulic and Water Resource Engineering</td>
       
      </tr><tr>
        <td>6.  Remote Sensing (GIS/GPS)</td>
       
      </tr>
    </tbody>
     </table> 

        <table class="table table-striped">
            <thead>
              <tr>
                 <th>Fee Structure</th>
              </tr>
            </thead>
      <tbody>

     
        <tr>
           <td> Registration Fees per paper INR 500</td>
           
        </tr>

        <tr>
           <td> Accomodation Fees per person INR 600</td>
           
        </tr>
         <tr>
           <td> <strong>Note</strong>: Only those students whose abstract would have been accepted need to pay fees.
           
        </tr>

    
      </tbody>
    </table>





 </div>



    <div id="menu3" class="tab-pane fade">
       <div style="padding-bottom:100px;">
      
       <h3> Guidelines for Abstract</h3><p>
           An abstract is a brief summarizing statement, usually between 150 and 300 words long. It gives the reader a synopsis of the problem, method, results and conclusions of your document. Abstract should be descriptive enough to give judicial committee of your work. </p>
       <h3>A.  This should be a pdf document containing these major elements:</h3><br>
      <p>1.  Problem: Note the key topic and problem of your document. <br>
         2.  Method: State your main approach you used to solve the problem.<br>
         3.  Results: Provide one or two significant results you obtained. If you are working on the problem till the deadline of abstract submission, you can give the progress of your work and what are your future expectations.<br>
         4.  Conclusion: What is the outcome of your research. How your work is going to benefit the society and what is new in this research.
      </p>
       <h3>B.  Formatting Guidelines </h3>
      <p>1.  Document should start with Project Titlein Times New Roman with the font size “14” which should be bold and centrally aligned.<br>
         2.  Author Name(s) should be written immediately after Titlein Times New Roman with the font size “12” and this should also be centrally aligned. <br> 
         3.  The main content should be in Times New Roman with the font size “11”. Use of Bold, Italic, and Underline in the main content is strictly prohibited.<br> 
       </p>
         <h3>
       C.  Sending Abstract</h3>
       <p>1.  All the abstracts should be sent to shilp@iitbhu.ac.in. <br>
          2.  The subject of the mail should be PPT Abstract.  <br>
          3.  Abstract should be attached as a pdf file with its name in following format: title_Name of first author.pdf <br>
          4.  Your abstract e-mail should also contain scanned copy of filled authentication letter, format of which can be downloaded from<a target="_blank" href="./static/AL.pdf"><strong> here </strong> </a>
        </p>
       <h3>
D.  Plagiarism will lead to direct disqualification. <br>
E.  Maximum number of participants for a paper is 4 and one student can be a part of more than 1 paper. 
 </h3>

    </div></div>
  
    <div id="menu4" class="tab-pane fade">
      
                      <div style="text-align:center">
  <h1> REGISTRATION FORM</h1></div><br>
   <form action="/pptsubmit/" method="post"> {% csrf_token %}
  
  <div class="form-group">
  

   <div class="form-group">
    <label for="exampleInputpaper">Title of Paper</label>
    <input type="name" class="form-control" id="exampleInputpaper" name="title" placeholder="Title of Paper">
     </div>
    <div class="form-inline">
    <div class="form-group">
    <label for="exampleInputName">Name of 1st Author </label>
    <input type="name" class="form-control" id="exampleInputName" name="author" aria-describedby="emailHelp" placeholder="Name of 1st Author">
    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Designation</label>
    <input type="name" class="form-control" id="exampleInputPassword1" name="designation" placeholder="Designation">
  </div>
     <div class="form-group">
    <label for="exampleInputName">College/University</label>
    <input type="name" class="form-control" id="exampleInputName" name="college" aria-describedby="emailHelp" placeholder="College/University">
    </div>

       </div><br>


  <div class="form-inline">
    
     <div class="row">
              <div class="col-md-6">

  <div class="form-group">
    <label for="exampleInputPassword1">Email Address</label>
    <input type="Email" class="form-control" name="email" id="exampleInputPassword1" placeholder="Email Address"></div></div>
     
               <div class="col-md-6">


  <div class="form-group">
    <label for="exampleInputPassword1">Mobile Number</label>
    <input type="number" class="form-control" name="phone" id="exampleInputPassword1" placeholder="Mobile Number">
     </div></div></div>
  </div><br>


     <div class="form-group">
    <label for="exampleInputpaper">Name of Co-Authors </label>
    <input  class="form-control" id="exampleInputpaper" name="coauthor" placeholder="Coauthor 1, Coauthor2, coauthor3">
     </div>
      <div style="padding-left:500px;"><button type="submit" class="btn btn-primary">Submit</button></div>

  </div></form></div>


     <div id="menu5" class="tab-pane fade">

      <div style="padding-top:40px;">
      <div style="padding-bottom:60px">

          
          <div style="padding-left:500px"> 
           <h2>Contacts</h2> </div>


    


            <div class="row">
              <div class="col-md-8"> <p> Shubham Tuteja </p>
                   <p><i class="fa fa-university"></i>Senior Undergraduate IIT(BHU)</p>
                   <p><i class="fa fa-phone"></i>  +917376306959</p>
                   <p><i class="fa fa-envelope"></i>shubham.tuteja.civ13@iitbhu.ac.in</p>
                
              </div>
                <div class="col-md-4 offset-md-4"><p> Deepanshu Agarwal</p>
                   <p><i class="fa fa-university"></i>Senior Undergraduate IIT(BHU)</p>
                   <p><i class="fa fa-phone"></i>  +918005201592</p>
                   <p><i class="fa fa-envelope"></i>deepanshu.agarwal.civ13@iitbhu.ac.in</p></div>
            
            </div>
            
          
     </div>
     </div>
    </div>
  </div>
</div>

    	
					
                    
                </div>

             
            </div>
        </div>
    </section>
    <!-- end of about section -->

    <!-- service section -->

 
    <!-- footer starts here -->
   <!-- <footer class="footer">
	<div class="row footer-text">
		<div class="col-lg-4 col-md-4 col-sm-4">
		<a href="ca">CAMPUS AMBASSADOR</a><br><a href="#kirtu">COMPETITIONS</a><br><a href="ppt">Paper Presentation</a><br><a href="idp">Industry Defined Problem</a><br><a href="conclave">River Rejuvination Conclave</a>
		</div>
		<div class="col-lg-4  col-md-4 col-sm-4">
        <p></p>
        <p><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top"><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
        <p><a href="http://www.shilpiitbhu.org/"><i class="fa fa-globe"></i>   shilpiitbhu.org</a> </p>
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" class="social-btn" target="_blank"><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        <p><a href="http://www.iitbhu.ac.in" target="_blank"><i class="fa fa-mortar-board"></i>  IIT-BHU Official Site</a> </p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
        <p>Shilp'16</p>
        <p><i class="fa fa-map-marker"></i>  Department of Civil Engineering</p>
        <p>  Indian Institute of Technology (BHU)</p>
        <p>  Varanasi (U.P.) </p>
        <p>  India </p>
		
		</div>
	</div>
    </footer> -->

    <div id="sitemap" style="padding : 20px 10px 30px 20px; background-color: #303135;">
<div class="row">
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8c9398;">Shilp 16</p><br><a href="ca" >Campus Ambassador</a><br><a href="/#competitions" >Competitions</a><br></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Events</p><br><a href="ppt" >Paper Presentation</a><br><a href="idp" >Industry Defined Problem</a><br><a href="conclave" >River Rejuvination Conclave</a></div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Contact Us</p><br>
    <p style="color:#BFBFBF;"><i class="fa fa-phone"></i>  +91991-957-5367 </p>
        <p><a href="mailto:shilp@iitbhu.ac.in?Subject=Hello%20again" target="_top" ><i class="fa fa-envelope"></i> shilp@iitbhu.ac.in</a> </p>
    
        <p><a href="https://www.facebook.com/shilpiitbhu/?fref=ts&ref=br_tf" target="_blank" ><i class="fa fa-facebook"></i> facebook.com/shilpiitbhu</a> </p>
        
</div>
<div class="col-md-3 col-sm-3 col-lg-3"><p style="color:#8C9398;">Find Us </p>><br>
    
        <p style="color:#BFBFBF;><i class=" fa-map-marker"></i>  Department of Civil Engineering</p>
        <p style="color:#BFBFBF;">  Indian Institute of Technology (BHU)</p>
        <p style="color:#BFBFBF;">Varanasi (U.P.), India </p>
        
</div>

</div>
</div>


    <!-- script tags
	============================================================= -->
    <script src="/static/js_event/jquery-2.1.1.js"></script>
    <script src="/static/js_event/smoothscroll.js"></script>
    <script src="/static/js_event/bootstrap.min.js"></script>
    <script src="/static/js_event/custom.js"></script>
</body>

</html>
